<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WindowsFormsApp1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp1.Properties.Settings.TypographyConnectionString"
            connectionString="Data Source=DESKTOP-TQRDNPR;Initial Catalog=Typography;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApp1.Properties.Settings.TypographyConnectionString1"
            connectionString="Data Source=DESKTOP-TG5L2OH\SQLEXPRESS;Initial Catalog=Typography;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <WindowsFormsApp1.Properties.Settings>
            <setting name="textBox" serializeAs="String">
                <value />
            </setting>
            <setting name="maskedTextBox" serializeAs="String">
                <value />
            </setting>
            <setting name="maskedTextBox1" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox1" serializeAs="String">
                <value />
            </setting>
            <setting name="maskedTextBox2" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox2" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox3" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox4" serializeAs="String">
                <value />
            </setting>
            <setting name="maskedTextBox3" serializeAs="String">
                <value />
            </setting>
            <setting name="maskedTextBox4" serializeAs="String">
                <value />
            </setting>
            <setting name="maskedTextBox5" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox5" serializeAs="String">
                <value />
            </setting>
            <setting name="textBox6" serializeAs="String">
                <value />
            </setting>
        </WindowsFormsApp1.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-15.0.0.0" newVersion="15.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>